{% extends "dog/layout.html" %}


{% block body %}
<div class="container mx-auto bg-neutral">
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 justify-between">
	  {% for cat in cats %}
		<div class="card group card-compact bg-base-100 card-bordered p-4 hover:shadow-2xl">
		  <figure><img src="{{cat.image.url}}" alt="{{cat.name}}" class=" coolimages w-full h-auto object-cover object-center rounded-lg dark: hover:shadow-lg"></figure>
		  <div class="card-body">
			<h2 class="card-title group-hover:text-primary">{{dog.name}}</h2>
			<div class="card-actions justify-end">
			  <div tabindex="0" class="collapse border  border-base-300 bg-primary hover:text-base-100 place-self-auto "> <!--pl-14 md:pl-10 sm:pl-16-->
				<div class="collapse-title text-xl font-medium group-hover:text-base-100">
				  認識它
				</div>
				<div class="collapse-content">
				  <p class="text-base-100">{{cat.bio}}</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  {% endfor %}
	</div>
  </div>
	
	  

		
{% endblock %}
