{% extends "dog/layout.html" %}

{% block body %}
	<div class="container mx-auto">
		<div class="flex flex-col-reverse justify-between gap-2 xl:flex-row">
			{% for dog in dogs %}
				<div class="card group w-30 h-30 card-bordered p-8 hover:shadow-2xl rounded-lg">
					<figure><img src='{{dog.image.url}}' alt='{{dog.name}}' class="w-full h-auto object-cover object-center hover:shadow-xl"></figure>
					<div class="card-body">
						<h2 class="card-title group-hover:text-primary">{{dog.name}}</h2>
						
						<div class="card-actions justify-end">
							<div tabindex="0" class="collapse border border-base-300 bg-primary hover:text-base-100 "> 
								<div class="collapse-title text-xl font-medium group-hover:text-base-100">
								  認識它
								</div>
								<div class="collapse-content"> 
									<p class="text-base-100">{{dog.bio}}</p>
								</div>
							  </div>
						</div>
					</div>
					
				</div>
			{% endfor %}
		</div>
	</div>
	
	  

		
{% endblock %}
