{% extends "dog/layout.html" %}
{% load static %}
{% block body %}

<div class="hero h-screen bg-primary py-20">
  <div class="hero-content flex-col lg:flex-row-reverse  overflow-hidden ">
      <div class="h-96 w-full lg:w-1/2 m-2 lg:m-20 items-center">
        <img src="{% static 'photos/catcover1.png' %}" class="w-full lg:max-w-full rounded-lg  mask mask-heart -mt-40 " />
      </div> 
    
    <div class="lg:w-2/3 text-center items-center"> 
      <h1 class="text-3xl lg:text-5xl font-bold">歡迎來到我們的家！</h1> 
      <p class="py-2 lg:py-6 text-lg lg:text-lg"> 
        在台北石牌有一個收留上百隻浪浪貓狗的家，16年來王媽媽獨自照顧毛孩們，這裡是志工群協助王媽媽創立的小天地🧡
      </p>
      <a id="scrollButton" class="navlinks hover:border-primary border-white border-4 shadow-md btn btn-primary btn-lg" href="#dogcat">認識我們</a>
    </div>
  </div>
</div>




<div class="flex flex-col w-full lg:flex-row h-96" id="dogcat">
  <!-- Section 1 - Dog Section -->
  
  <div class="group flex-grow h-full card place-items-baseline relative overflow-hidden border-8 border-white" style="background-image: url('{% static 'photos/dog3.jpeg' %}'); background-size: cover; background-position: center;">
    <a href="{% url 'dogs' %}" class="block w-full h-full">
    <!-- Apply the square effect using custom CSS -->
    <div class="custom-square effect-section relative">
      <!-- Add a gradient overlay using custom CSS -->
      <div class="gradient-overlay absolute inset-0 bg-black opacity-50"></div>

      <div class="w-full items-center text-center h-20 py-5 relative">
        
          <h1 class="text-5xl text-white font-bold">狗狗班</h1>
        
        
      </div>
    </div>
  </a>
  </div>

  <!-- Section 2 - Cat Section -->
  
  <div class="group flex-grow h-full  card bg-base-300 rounded-box place-items-center relative overflow-hidden border-8 border-white" style="background-image: url('{% static 'photos/cat2.jpeg' %}'); background-size: cover; background-position: center;">
    <a href="{% url 'cats'%}" class="block w-full h-full">
    <!-- Apply the square effect using custom CSS -->
    <div class="custom-square effect-section relative">
      <!-- Add a gradient overlay using custom CSS -->
      <div class="gradient-overlay absolute inset-0 bg-black opacity-50"></div>
      <div class="w-full items-center text-center h-20 py-5 relative">
          <h1 class="text-5xl text-white font-bold">貓貓班</h1>
      </div>
    </div>
  </a>
  </div>

</div>


    <footer id="footer" class=" p-10 bg-primary text-base-content text-center">
        <h5 class="text-xs">©Copyright 2023 YoYo Chan. All rights reserved.</h5>
      </footer>




{% endblock %}
