{% extends "dog/layout.html" %}
{% load static %}
{% block body %}

<div class="hero h-screen bg-primary py-20">
  <div class="hero-content flex-col lg:flex-row-reverse  overflow-hidden ">
      <div class="h-full w-full lg:w-1/2 m-2 lg:m-20">
        <img src="{% static 'photos/catcover1.png' %}" class="w-full lg:max-w-full rounded-lg shadow-2xl mask mask-heart" />
      </div> 
    
    <div class="lg:w-2/3 text-center items-center"> 
      <h1 class="text-3xl lg:text-5xl font-bold">歡迎來到我們的家！</h1> <!-- Adjust the title size -->
      <p class="py-2 lg:py-6 text-lg lg:text-lg"> 
        在台北石牌有一個收留上百隻浪浪貓狗的家，16年來王媽媽獨自照顧毛孩們，這裡是志工群協助王媽媽創立的小天地🧡
      </p>
      <a id="scrollButton" class="navlinks hover:border-primary border-white border-4 shadow-md btn btn-primary btn-lg" href="#dogcat">認識我們</a>
    </div>
  </div>
</div>



<!--
  <div class="flex flex-col w-full lg:flex-row h-96">

    <div class=" group grid flex-grow h-full card place-items-start" style="background-image: url('{% static 'photos/dog3.jpeg' %}'); background-size: cover; border-radius: 0; background-position: center;">
      <div class=" relative w-full items-center text-center ">
        <div class=" bg-see w-full h-20 items-center py-5">
          <h1 class="text-5xl group-hover:text-base-100 text-black ">狗狗班</h1>
        </div>
        
      </div>
    </div> 
  
    
    <div class="grid flex-grow h-full card bg-base-300 rounded-box place-items-center" style="background-image: url('{% static 'photos/cat2.jpeg' %}'); background-size: cover; border-radius: 0; background-position: center;">
    <div class="text-center">
      <h1>貓貓班</h1>
    </div>
    </div>
  </div>
-->



<div class="flex flex-col w-full lg:flex-row h-96" id="dogcat">
  <!-- Section 1 - Dog Section -->
  
  <div class="group flex-grow h-full card place-items-baseline relative overflow-hidden border-8 border-white" style="background-image: url('{% static 'photos/dog3.jpeg' %}'); background-size: cover; background-position: center;">
    <a href="{% url 'dogs' %}" class="block w-full h-full">
    <!-- Apply the square effect using custom CSS -->
    <div class="custom-square effect-section relative">
      <!-- Add a gradient overlay using custom CSS -->
      <div class="gradient-overlay absolute inset-0 bg-black opacity-50"></div>

      <div class="w-full items-center text-center h-20 py-5 relative">
        
          <h1 class="text-5xl text-white font-bold">狗狗班</h1>
        
        
      </div>
    </div>
  </a>
  </div>

  <!-- Section 2 - Cat Section -->
  
  <div class="group flex-grow h-full  card bg-base-300 rounded-box place-items-center relative overflow-hidden border-8 border-white" style="background-image: url('{% static 'photos/cat2.jpeg' %}'); background-size: cover; background-position: center;">
    <a href="{% url 'cats'%}" class="block w-full h-full">
    <!-- Apply the square effect using custom CSS -->
    <div class="custom-square effect-section relative">
      <!-- Add a gradient overlay using custom CSS -->
      <div class="gradient-overlay absolute inset-0 bg-black opacity-50"></div>

      <div class="w-full items-center text-center h-20 py-5 relative">
        
          <h1 class="text-5xl text-white font-bold">貓貓班</h1>
        
        
      </div>
    </div>
  </a>
  </div>

</div>


    <footer id="footer" class=" p-10 bg-primary text-base-content ">
        <nav>
          <header class="footer-title">Services</header> 
          <a class="link link-hover">Branding</a> 
          <a class="link link-hover">Design</a> 
          <a class="link link-hover">Marketing</a> 
          <a class="link link-hover">Advertisement</a>
        </nav> 
        <nav>
          <header class="footer-title">Company</header> 
          <a class="link link-hover">About us</a> 
          <a class="link link-hover">Contact</a> 
          <a class="link link-hover">Jobs</a> 
          <a class="link link-hover">Press kit</a>
        </nav> 
        <nav>
          <header class="footer-title">Social</header> 
          <div class="grid grid-flow-col gap-4">
            <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a>
            <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path></svg></a>
            <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path></svg></a>
          </div>
        </nav>
      </footer>




{% endblock %}
