{% load static %}
<!DOCTYPE html>
<html lang='zh-TW'>
	<head>
		<title>王媽媽流浪狗園</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<style>
			img {
				width: 100px;
				height: auto;
			}

		</style>
		<link rel="stylesheet" href="{% static 'output.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	</head>
	
	<body>
		<div class="navbar bg-primary">
			<div class="navbar-start">
			  <div class="dropdown">
				<label tabindex="0" class="btn btn-ghost lg:hidden">
				  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
				</label>
				<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				  <li><a class=" navlinks normal-case text-lg" href="{% url 'dogs' %}">Dogs</a></li>
				  <li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">Cats</a></li>
				  <li><a class=" navlinks normal-case text-lg" href="{% url 'about' %}">怎麼來？</a></li>
				  <li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">聯絡</a></li>
				</ul>
			  </div>
			  <a class="btn hover:bg-base-100 hover:text-primary btn-primary btn-lg normal-case text-xl" href="{% url 'index'%}">王媽媽流浪貓狗園</a>
			</div>
			<div class="navbar-center hidden lg:flex">
				<ul class="flex items-center menu menu-horizontal px-1 gap-[2vw] justify-between ">
					<li><a class=" navlinks normal-case text-lg" href="{% url 'dogs' %}">狗狗班</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">貓貓班</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'about' %}">怎麼來？</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">聯絡</a></li>
				</ul>
			</div>
			<div class="navbar-end">
				<a class="box-shadow-hover btn btn-wide btn-lg btn-secondary px-5 py-2">請支持我們的生活費！</a>
			</div>
		  </div>
		{% block body%}
		{% endblock%}
	</body>
	  
</html>
	

<!--
		<div class="navbar bg-primary flex justify-center items-center mx-auto">
			<div class="navbar-start"> 
				<a class="btn hover:bg-base-100 btn-primary btn-lg normal-case text-xl" href="{% url 'index'%}">王媽媽流浪狗園</a>
				<ul class="flex items-center menu menu-horizontal px-1 gap-[2vw] justify-between ">
					<li><a class=" navlinks normal-case text-lg" href="{% url 'dogs' %}">Dogs</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">Cats</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'dogs' %}">關於我們</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">聯絡</a></li>
				</ul>

			</div>
			<div class="navbar-end">
				<a class="btn px-5 py-2">捐款</a>
				
			</div>
			</div>



			
		-->