{% load static %}
<!DOCTYPE html>
<html lang='zh-TW'>
	<head>
		<title>王媽媽流浪狗園</title>	
		<style>
			img {
				width: 100px;
				height: auto;
			}

		</style>
		<link rel="stylesheet" href="{% static 'output.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	</head>
	<body>
		<div class="navbar bg-primary flex justify-center items-center mx-auto">
			<div class="navbar-start"> 
				<a class="btn hover:bg-base-100 btn-primary btn-lg normal-case text-xl" href="{% url 'index'%}">王媽媽流浪狗園</a>
				<ul class="flex items-center menu menu-horizontal px-1 gap-[2vw] justify-between">
					<li><a class=" navlinks normal-case text-lg" href="{% url 'dogs' %}">Dogs</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">Cats</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'dogs' %}">關於我們</a></li>
					<li><a class=" navlinks normal-case text-lg" href="{% url 'cats' %}">聯絡</a></li>
				</ul>

			</div>
			<div class="navbar-end">
				<a class="btn px-5 py-2">捐款</a>
			</div>
			</div>
		{% block body %}
		{% endblock %}
	  </body>
	  
</html>
	
<!--

-->